<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TennisRefereeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TennisReferee">
        
        <!-- Language Selection - ekran startowy -->
        <activity
            android:name=".ui.language.LanguageSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Court Selection -->
        <activity
            android:name=".ui.tournamentselection.TournamentSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.language.LanguageSelectionActivity"/>

        <!-- Court Selection -->
        <activity
            android:name=".ui.courtselection.CourtSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.tournamentselection.TournamentSelectionActivity"/>
        
        <!-- Player Selection -->
        <activity
            android:name=".ui.playerselection.PlayerSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.courtselection.CourtSelectionActivity"/>
        
        <!-- Match -->
        <activity
            android:name=".ui.match.MatchActivity"
            android:exported="false"
            android:parentActivityName=".ui.playerselection.PlayerSelectionActivity"/>
        
        <!-- Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TennisReferee.NoActionBar"
            android:parentActivityName=".ui.courtselection.CourtSelectionActivity"/>

        <!-- Match History -->
        <activity
            android:name=".ui.history.MatchHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.TennisReferee.NoActionBar"
            android:parentActivityName=".ui.settings.SettingsActivity"/>
        
        <!-- Match Detail -->
        <activity
            android:name=".ui.history.MatchDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.history.MatchHistoryActivity"/>
        
    </application>

</manifest>
